.company .nav {
  background-color: var(--color-primary-dark-1);
}

.company .nav-brand {
  color: var(--color-light);
  font-size: 16px;
}

.company .navbar-toggler-icon {
  color: var(--color-light);
  font-size: 16px;
}

.company .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-light);
  border-radius: 12px;
  transition: border-radius 1s ease;
}

.company .nav-link:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-radius: 30px;
  font-weight: 400;
}

.company .login-link {
  font-size: 16px;
  color: var(--color-primary);
  background-color: var(--color-light);
  padding: 8px 16px;
  border-radius: 8px;
}

.company .container-primary {
  background-color: var(--color-light);
  color: var(--color-primary-dark-1);
}

.company .pop-up-chat {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.company .pop-up-chat .chat-action {
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius:50%;
  font-size: 30px;
}

.company .pop-up-chat .chatbox.container {
  padding: 0;
  width: 400px;
  border-radius: 25px;
  font-size: 14px;
  background-color: var(--color-bg-white);
  box-shadow:
    0px 0px 25px 10px rgba(0, 0, 0, 0.1),
    16px 20px 21px 0px rgba(0, 0, 0, 0.1);
}

.company .pop-up-chat .chatbox.header {
  border-radius: 10px 10px 0px 0px;
}

.company .pop-up-chat .chatbox.body-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 450px;
}

.company .pop-up-chat .chatbox.body-content p {
  color: var(--color-primary);
  font-size: 14px;
}

.company .pop-up-chat .chatbox.body-content textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.company .pop-up-chat .chatbox.body-content .form-control {
  height: 2rem;
  font-size: 14px;
}

.company .pop-up-chat .chatbox.body-content .form-check-label {
  color: var(--color-primary);
  font-size: 12px;
}

.company .pop-up-chat .chatbox.body-content .button.button-send {
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 8px;
  margin-right: 5px;
}

.company .pop-up-chat .chatbox.body-content .button.button-send:hover {
  background-color: var(--color-primary-dark-1);
  color: var(--color-light);
}

@media (max-width: 991px) {
  .company .navbar-nav {
    margin-top: 10px;
  }
  .company .nav-link {
    margin-bottom: 3px;
  }
  .company .login-link {
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-light);
    background-color: var(--color-primary-dark-1);
    border-radius: 12px;
    transition: border-radius 1s ease;
  }
  .company .login-link:hover {
    background-color: var(--color-light);
    color: var(--color-primary);
    border-radius: 30px;
    font-weight: 400;
  }
  .nav-auth-container {
    margin-top: 10px;
    border-top: 2px solid var(--color-light);
  }
}

@media (min-width: 992px) {
  .company .nav-link {
    margin: 0 5px;
  }

  .company .login-link {
    font-weight: 600;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .company .login-link:hover {
    transform: scale(1.08);
    box-shadow: 0 0 8px 2px #fff;
  }
}
