.company .company-container {
  padding: calc(0px + 1.5625vw) calc(8px + 1.5625vw);
}

.company .first-section {
  padding-top: 3rem;
  height: 100vh;
  width: 100%;
}

.company .title {
  font-size: 50px;
  font-weight: 600;
}

.company .desc {
  font-size: 20px;
}

@media (min-width: 992px) {
  .company .company-container {
    padding: 0 4rem;
  }
}
