.dashboard-content {
  font-size: 16px;
}

.dashboard-content .content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.dashboard-content .content-wrapper-title {
  font-weight: 600;
  font-style: italic;
  margin-bottom: 1rem;
}

@media (max-width: 1300px) {
  .dashboard-content .table-container {
    flex-grow: 1;
    overflow-x: scroll;
  }
}
