.dashboard-wrapper {
  display: flex;
}

.sidebar-container {
  position: fixed;
  z-index: 2;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 175px;
  background-color: var(--color-bg-white);
  border-right: 1px solid var(--color-medium-gray);
}

.sidebar-header {
  flex-grow: 0;
  padding: 15px;
  margin-bottom: 1rem;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-logo img {
  width: 55px;
}

.sidebar-link {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.5s;
}

.sidebar-icon {
  font-size: 20px;
  color: var(--color-light-text);
  transition: all 0.5s;
}

.sidebar-item span {
  font-size: 16px;
  color: var(--color-light-text);
  padding-left: 10px;
  transition: all 0.5s;
}

.sidebar-item:hover {
  background-color: var(--color-primary-light-4);
  border-radius: 25px;
}

.sidebar-item:hover .sidebar-icon,
.sidebar-item:hover span {
  color: var(--color-primary);
}

.sidebar-footer {
  margin-top: auto;
  margin-bottom: 20px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

.dashboard-wrapper main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  min-height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: end;
  align-items: center;
  position: sticky;
  top: 0;
  height: 4rem;
  background-color: var(--color-bg-white);
  border-bottom: 1px solid var(--color-medium-gray);
  padding: 0 1.5rem;
  z-index: 1;
}

.dashboard-content {
  background-color: var(--color-bg-neutral);
  flex-grow: 1;
  margin-left: 175px;
}

@media (max-width: 1100px) {
  .dashboard-content {
    margin: 0;
    padding: 1rem 2rem;
  }

  .sidebar-container {
    display: flex;
    align-items: start;
    padding-left: 175px;
    z-index: 2;
    transition: padding-left 0.3s ease;
  }
  .sidebar {
    position: absolute;
    left: 0px;
    top: 0;
    transition: left 0.3s ease;
  }
  .sidebar-container.collapsed {
    padding-left: 0px;
  }
  .sidebar.collapsed {
    left: -175px;
  }
  #sidebar-toggle-icon {
    display: flex;
    height: 4rem;
  }
}

@media (min-width: 900px) {
  .dashboard-content {
    padding: 1rem 5rem;
  }
}

@media (min-width: 1101px) {
  #sidebar-toggle-icon {
    display: none;
  }
}
