.dashboard-wrapper {
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background-color: var(--color-bg-white);
  border-right: 1px solid var(--color-medium-gray);
}

.sidebar-header {
  flex-grow: 0;
  padding: 15px;
  margin-bottom: 1rem;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-logo img {
  width: 55px;
}

.sidebar-link {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.5s;
}

.sidebar-icon {
  font-size: 20px;
  color: var(--color-light-text);
  transition: all 0.5s;
}

.sidebar-item span {
  font-size: 16px;
  color: var(--color-light-text);
  padding-left: 10px;
  transition: all 0.5s;
}

.sidebar-item:hover {
  background-color: var(--color-primary-light-4);
  border-radius: 25px;
}

.sidebar-item:hover .sidebar-icon,
.sidebar-item:hover span {
  color: var(--color-primary);
}

.sidebar-footer {
  margin-top: auto;
  margin-bottom: 20px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

.dashboard-wrapper main {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid var(--color-medium-gray);
  padding: 0 1.5rem;
}

.dashboard-content {
  background-color: var(--color-bg-neutral);
  flex-grow: 1;
  padding: 1rem 1.5rem;
}

