.text-color-primary {
  color: var(--color-primary);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.button {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  outline: none;
  border: none;
  text-decoration: none;
  letter-spacing: -0.03em;
  border-radius: 15px;
  background-color: transparent;
}

.button-light {
  background-color: var(--color-light);
  color: var(--color-primary);
  padding: 0.8rem;
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 0.8rem;
}

.conversation-container {
  overflow: hidden;
}

.conversation {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: rgb(249, 249, 249);
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bubble-receiver {
  align-self: flex-start;
  background-color: rgb(220, 220, 220);
  max-width: 65%;
  border-radius: 15px;
  padding: 12px;
  box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.1);
}

.bubble-sender {
  align-self: self-end;
  background-color: var(--color-primary-light-3);
  max-width: 65%;
  border-radius: 15px;
  padding: 12px;
  box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.1);
}

.bubble-text-message {
  color: var(--color-dark);
  font-size: 12px;
  margin: 0;
}

.bubble-time {
  display: block;
  font-size: 10px;
  color: grey;
}

.form-control {
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  box-sizing: border-box;
  transition:
    border-color 0.5s,
    box-shadow 0.5s; /* Smooth transition for focus styles */
}

.form-control:focus {
  border-bottom: 2px solid var(--color-primary-dark-1);
  box-shadow: var(--color-primary-dark-1) 0px 0px 0px 2px;
}

.input-with-icon .form-control {
  width: 100%;
  padding-left: 40px;
}

.form-control-icon {
  position: absolute;
  padding: 10px;
  color: #808080;
}
